@import "tailwindcss";

/* 1. FONT SETUP */
body {
  font-family: var(--font-inter), sans-serif;
  background: #f7fcec;
}


h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: var(--font-montserrat), sans-serif;
}

/* Target the cursor specifically */
.typewriter-cursor {
  /* !important ensures we override the library's default thick weight */
  font-weight: 100 !important; 
  
  /* Use currentColor so it automatically matches the text color (gray-500) */
  color: currentColor !important;
  
  margin-left: -10px; /* Pulls it closer to the text for a pro look */
  opacity: 0.7;
  
  /* Forces the cursor to stay thin regardless of the font-weight of the H1 */
  display: inline-block;
  transform: scaleX(0.5); 
}

html {
  scroll-behavior: smooth;
}